@import "./scsss/header";
@import "./scsss/main";
@import "./scsss/footer";
@import "./scsss/veriable";







@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: auto;
  width: auto;
  img {
    cursor: pointer;
  }
}
.contianer {
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 650px) {
  header {
    padding: 2px;
    nav {
      display: none;
    }
  }
  main {
    flex-direction: column;
  }
  .hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .contianer {
      flex-direction: column;
      flex-wrap: wrap;
      .text {
        padding: 20px;
      }
    }
  }
  .hero .contianer {
    flex-direction: column;
    flex-wrap: wrap;
    height: 235vh;
    .img123 {
      position: relative;
      left: -730px;
      top: 30px;
    }
    .text {
      width: 100%;
      height: 80vh;
      position: relative;
      top: -80px;
    }
    .text1 {
      margin-left: 80px;
    }
  }
  .ready {
    .p3 {
      font-size: 12px;
      br {
        display: none;
      }
    }
  }
  .box {
    flex-direction: column;
    flex-wrap: wrap;
  }
  h3 {
    margin-left: 50px;
  }
  .rest1 {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .end {
    .rest4 {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
  .last .contianer {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .img2 {
    flex-wrap: wrap;
    img {
      width: 300px;
      height: 300px;
    }
  }
  .subscribe {
    flex-direction: column;
    margin-top: 30px;
    flex-wrap: wrap;
    .alll {
      margin-top: 40px;
    }
  }
}


